<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atong.leek.source.mapper.UserMapper">

    <!-- User-Department多对一 -->
    <resultMap id="userMap" type="cn.atong.leek.domain.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="department" javaType="cn.atong.leek.domain.entity.Department">
            <!-- column 是关联查询语句的 result -->
            <id property="id" column="department_id"/>
            <result property="name" column="department_name"/>
        </association>
    </resultMap>

    <resultMap id="userlazy" type="cn.atong.leek.domain.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="department" javaType="cn.atong.leek.domain.entity.Department"
                     select="cn.atong.leek.source.mapper.DepartmentMapper.findById" column="department_id"/>
    </resultMap>

    <select id="findAllUserWithDep" resultMap="userMap">
        select user.*, dep.name as department_name
        from user
        left join department dep on user.department_id = dep.id
    </select>

    <!--User-Department多对一.Department延迟加载-->
    <select id="findAllUserWithDepLazy" resultMap="userlazy">
        select * from user
    </select>

    <!--根据departmentId查询所有User信息-->
    <select id="findAllByDepartmentId" parameterType="long" resultType="cn.atong.leek.domain.entity.User">
        select * from user where department_id = #{departmentId}
    </select>

    <select id="selectUserAll" resultType="cn.atong.leek.domain.entity.User">
        select * from user
    </select>

    <select id="findById" parameterType="long" resultType="cn.atong.leek.domain.entity.User">
        select * from user where id = #{id}
    </select>

    <insert id="insert" parameterType="cn.atong.leek.domain.entity.User">
        insert into user (id, name, age) values (#{id}, #{name}, #{age})
    </insert>

    <update id="update" parameterType="cn.atong.leek.domain.entity.User">
        update user set name = #{name}, age = #{age} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from user where id = #{id}
    </delete>

</mapper>